body {
  background-color: rgb(238, 239, 224);
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: 'Poppins';
  src: url('Fonts/Poppins.woff2') format('woff2');
  font-weight: 400;
  letter-spacing: 0.5px;
  font-style: normal;
}

h3 {
  font-family: Georgia;
  letter-spacing: 0.5px;
  font-weight: lighter;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  align-content: center;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
}

.hero-part {
  display: flex;
  justify-content: center;
}

.hero-bg {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
  background: linear-gradient(#819a91, #a7c1a8);
  box-shadow: 0px 0px 30px rgb(65, 66, 50);
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#title1 {
  font-size: 36px;
  color: white;
}

#title2 {
  font-size: 42px;
  color: white;
}

.intr-part {
  margin-top: 150px;
  margin-bottom: 200px;
}

.intr-bg {
  display: flex;
  justify-content: center;
}

.intr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intr-profile-pic {
  border-radius: 50%;
  margin-bottom: 80px;
  box-shadow: 0px 0px 25px rgb(31, 31, 31);
  width: 30vh;
}

.intr-title {
  font-size: 36px;
  font-weight: bolder;
  padding: 20px;
}

.intr-introduction {
  font-size: 1.5em;
  max-width: 80vh;
}

.skill-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-header {
  font-size: 42px;
  font-weight: bolder;
  padding: 20px;
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 75px;
}

.skill-preview {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  align-items: start;
  margin-bottom: 150px;
}

.skill-image {
  margin-left: 10vh;
  width: 25vh;
  height: 25vh;
  margin-right: 20px;
  object-fit: cover;
  outline: solid 1px black;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.skill-text {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  max-width: 100vh;
}

.skill-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bolder;
}

.skill-explain {
  font-size: 1.3em;
}

.contact-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 300px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.contact-title {
  font-size: 42px;
  font-weight: bolder;
  padding: 20px;
}

.contact-explain {
  font-size: 36px;
  margin-bottom: 40px;
}

.contact-button {
  background-color: #d1d8be;
  display: inline-block;
  width: 80%;
  font-size: 28px;
  padding: 20px;
}

.contact-button:hover {
  background-color: #b2ba9d;
  transform: scale(1.05);
  transition: 0.5s;
  outline: 1px solid black;
}

.footer-part {
  display: block;
  margin-top: 100px;
  margin-bottom: 0px;
}
.footer-container {
  background-color: #b2ba9d;
  width: auto;
  height: 20vh;
}
.footer-text {
  margin-left: 40px;
}
.footer-company-name {
  font-weight: bold;
}
.footer-socials {
  padding-top: 40px;
}
.footer-social-link {
  display: flex;
  margin-top: 10px;
}
.social-name {
  margin-left: 10px;
}
.footer-copyright {
  text-align: center;
}

@media (max-width: 768px) {
  #title1 {
    font-size: 32px;
    padding: 10px;
  }

  #title2 {
    font-size: 36px;
    padding: 10px;
  }

  .intr-title {
    font-size: 26px;
  }

  .intr-introduction {
    font-size: 16px;
    padding: 10px;
  }

  .skill-preview {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .skill-container {
    margin-bottom: 0px;
  }

  .skill-image {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
  }

  .skill-title {
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
  }

  .skill-explain {
    font-size: 16px;
    margin-left: 20px;
    padding: 10px;
  }

  .contact-title {
    font-size: 26px;
    margin-left: 20px;
    padding: 10px;
  }

  .contact-explain {
    font-size: 22px;

    padding: 10px;
  }

  .contact-button {
    width: 40%;
    font-size: 22px;
  }

  .footer-container {
    height: 300px;
  }

  .footer-copyright {
    margin-top: 30px;
    text-align: start;
  }
}
